.gallery-container {
  display: grid;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin:0;
  padding: 0;
}

.image-card {
  max-height: 300px;
  max-width: 500px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.mat-card-portrait {
  max-height: 250px;
  max-width: 250px;
}

.mat-card-landscape {
  max-width: 400px;
  max-height: 250px;
}

.end-page{
  padding-top: 50px;
}
